.legio {
  @include outer-container;
  margin: 2em 0;
}

.cohors {
  display: table;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
}

.centuria3 {
  @include span-columns(3);
  height: 200px;
  position: relative;

  img {
    position: absolute;
    height: 100%;
    max-width: auto;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.centuria4 {
  @include span-columns(4);
  height: 200px;
  position: relative;

  img {
    position: absolute;
    height: 100%;
    max-width: auto;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

.centuria5 {
  @include span-columns(5);
  @media screen and (max-width: 700px){@include span-columns(12);}
}

.centuria7 {
  @include span-columns(7);
  @media screen and (max-width: 700px){@include span-columns(12);}
}

@media screen and (max-width: 1200px){
  .centuria3, .centuria4 {
    height: 15vw;
  }
}
