.side-image
  .images-wrapper
  .side-image-content.left
    h1 О компании
    p Компания «Екисбастуз-2007» является специализированной строительно-монтажной организацией, оказывающей юридическим и физическим лицам полный комплекс строительных услуг. Компания имеет собственную производственно-техническую базу в  г. Астана ул. Силикатная 5/1, производственные активы (леса, туры, опалубка, ТМ0-80, электрогенераторы, компрессоры, отбойные молотки, высотный кран, подъемные механизмы, рохлы, газо-электросварка, вагончики и иной специализированный инструмент), собственную транспортную службу и главный актив - сформированный высокопрофессиональный инженерный состав, способный решать самые сложные и разноплановые инженерно- технические задачи.
    p Компания «Екисбастуз-2007»- участник реализации государственных программ: «100 школ, 100 больниц», «Акбулак».
    p Сочетание жесткого контроля за расходами, большого объема выполняемых работ и дифференциации строительных услуг позволяет компании обеспечивать широкую доступность цен при сохранении качества оказываемых услуг.
