footer.footer-2(role='contentinfo')
  .manipula
    .konts
      p Адрес: г.Астана Ул.Сембинова 13/1,оф.№7 
      p E-mail: Misha.Malkhassyan@ekibastuz2007.kz
    .footer-secondary-links
      ul
        li
          a(href='http://web-aqua.kz/') Разработка сайтов - Web-Aqua
