footer.footer-2(role='contentinfo')
  .footer-logo
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='Logo image')
  ul
    li
      a(href='index.html') Главная
    li
      a(href='page_aboutus.html') О компании
    li
      a(href='page_services.html') Услуги
    li
      a(href='page_works.html') Работы
    li
      a(href='page_contacts.html') Контакты
  .footer-secondary-links
    ul
      li
        a(href='http://web-aqua.kz/') Разработка сайтов - Web-Aqua
