.comment
	.comment-image
		img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png')
	.comment-content
		h3 Для юридических лиц
		p
			| Выполняем полный комплекс строительно-монтажных работ по возведению зданий и сооружений коммерческого и промышленного назначения, в т.ч. осуществляем функции генерального подрядчика. Специализация компании – возведение гранжданских и промышленных зданий, строительство автомобильных дорог.


.comment
	.comment-image
		img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png')
	.comment-content
		h3 Для частных лиц
		p
			| Возводим частные жилые дома, включая создание всех инженерных сетей. Специализация — строительство, устройство и отделка каменных жилых домов [блок, кирпич].
