.comment
	.comment-image
		i.fa.fa-briefcase(aria-hidden='true')
	.comment-content
		h2 Для юридических лиц
		p
			| Выполняем полный комплекс строительно-монтажных работ по возведению зданий и сооружений коммерческого и промышленного назначения, в т.ч. осуществляем функции генерального подрядчика. Специализация компании – возведение гражданских и промышленных зданий, строительство автомобильных дорог.


.comment
	.comment-image
		i.fa.fa-users(aria-hidden='true')
	.comment-content
		h2 Для частных лиц
		p
			| Возводим частные жилые дома, включая создание всех инженерных сетей. Специализация — строительство, устройство и отделка каменных жилых домов [блок, кирпич].
