header.navigation(role='banner')
  .navigation-wrapper
    a.logo(href='javascript:void(0)')
      img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='Logo Image')
    a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
    nav(role='navigation')
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a(href='index.html') Главная
        li.nav-link
          a(href='page_aboutus.html') О компании
        li.nav-link
          a(href='page_services.html') Услуги
        li.nav-link
          a(href='page_works.html') Работы
        li.nav-link
          a(href='page_contacts.html') Контакты

    .navigation-tools
      p
        i(class="fa fa-phone-square" aria-hidden="true")
        | 8 775 713 72 58, 8 747 977 70 77
