header.navigation(role='banner')
  .navigation-wrapper
    a.logo(href='javascript:void(0)')
      img(src='/image/logo.png', alt='Logo Image')
    a#js-mobile-menu.navigation-menu-button(href='javascript:void(0)') MENU
    nav(role='navigation')
      ul#js-navigation-menu.navigation-menu.show
        li.nav-link
          a(href='index.html') 
            i.fa.fa-home(aria-hidden='true')
            | Главная
        li.nav-link
          a(href='page_aboutus.html') 
            i.fa.fa-user(aria-hidden='true')
            | О компании
        li.nav-link
          a(href='page_services.html') 
            i.fa.fa-handshake-o(aria-hidden='true')
            | Услуги
        li.nav-link
          a(href='page_works.html') 
            i.fa.fa-hospital-o(aria-hidden='true')
            | Работы
        li.nav-link
          a(href='page_contacts.html') 
            i.fa.fa-address-book-o(aria-hidden='true')
            | Контакты

    .navigation-tools
      p
        i(class="fa fa-phone-square" aria-hidden="true")
        | 8 775 713 72 58, 8 747 977 70 77
