.grid-items-lines
	.grid-item
		i.fa.fa-free-code-camp(aria-hidden='true')
		h2 Отопительные системы
		p Монтаж систем отопления, кондиционирования, вентиляции, контрольно-измерительных приборов
	.grid-item
		i.fa.fa-bolt(aria-hidden='true')
		h2 Электромонтажные работы
		p Электромонтажные работы, в т.ч. слаботочные сети, молниезащита.
	.grid-item
		i.fa.fa-truck(aria-hidden='true')
		h3 Дорожные работы
		p Строительство автомобильных дорог, мостов, эстакад.
	.grid-item
		i.fa.fa-bath(aria-hidden='true')
		h3 Системы водоснабжения
		p Строительство систем водоснабжения и канализации, в т.ч. наружной и внутренней системы водоотведения, очистных сооружений и пр.
	.grid-item.grid-item-big
		i.fa.fa-building(aria-hidden='true')
		h3 Общестроительные работы
		p Подготовка участка к строительству, возведение фундаментов, перекрытий, кровельные, фасадные, отделочные работы, монолитные работы, вентилируемые фасады и т.п.
