.grid-items-lines
	.grid-item
		img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
		h1 Системы водоснабжения
		p Строительство систем водоснабжения и канализации, в т.ч. наружной и внутренней системы водоотведения, очистных сооружений и пр.
	.grid-item
		img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
		h1 Отопительные системы
		p Монтаж систем отопления, кондиционирования, вентиляции, контрольно-измерительных приборов
	.grid-item
		img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
		h1 Электромонтажные работы
		p Электромонтажные работы, в т.ч. слаботочные сети, молниезащита.
	.grid-item
		img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
		h1 Дорожные работы
		p Строительство автомобильных дорог, мостов, эстакадов.
	.grid-item.grid-item-big
		img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png', alt='')
		h1 Общестроительные работы
		p Подготовка участка к строительству, возведение фундаментов, перекрытий, кровельные, фасадные, отделочные работы, монолитные работы, вентилируемые фасады и т.п.
