.side-image
  #urid.images-wrapper
  .side-image-content.left
    h1 Юридическим лицам мы предлагаем:
    p Профессиональную поэтапную реализацию строительных проектов любой сложности, в т.н. планирование, строительство, ввод объекта в эксплуатацию.
    p Возведение зданий и сооружений различного целевого назначения (административных зданий, торговых центров, школ, больниц, ресторанов, а также вентилируемых фасадов.
    p Методическую и консультационную поддержку при подготовке финансовых расчетов и обоснования инвестиционных проектов.
