ul.bullets
  li.bullet
    .bullet-icon.bullet-icon-1
      i.fa.fa-graduation-cap(aria-hidden='true')
    .bullet-content
      h2 ПРОФЕССИОНАЛИЗМ
      p
        | «Компания Екибастуз-2007» - это классическая строительная компания, сконцентрированная исключительно на строи тельном процессе и строительных технологиях.

  li.bullet
    .bullet-icon.bullet-icon-2
      i.fa.fa-money(aria-hidden='true')
    .bullet-content
      h2 ФИКСИРОВАННЫЙ СРОК И ЦЕНА СТРОИТЕЛЬСТВА
      p
        | что позволяет нашим клиентам точно запланировать расходы и своевременно ввести в эксплуатацию новый объект.
  li.bullet
    .bullet-icon.bullet-icon-3
      i.fa.fa-medkit(aria-hidden='true')
    .bullet-content
      h3 ПРАКТИЧЕСКАЯ ПОМОЩЬ ЗАКАЗЧИКУ НА КАЖДОМ ЭТАПЕ СТРОИТЕЛЬСТВА
      p
        | от сбора разрешительной документации до ввода здания в эксплуатацию.
  li.bullet
    .bullet-icon.bullet-icon-2
      i.fa.fa-line-chart(aria-hidden='true')
    .bullet-content
      h3 ГАРАНТИИ И ОПЫТ
      p
        | Мы соблюдаем все гарантийные обязательства, предусмотренные законодательством в отношении возведенных объектов, и обеспечиваем использование оптимальных технических и организационных решений исходя из ранее приобретенного опыта строительства.
  li.bullet
    .bullet-icon.bullet-icon-3
      i.fa.fa-hourglass-half(aria-hidden='true')
    .bullet-content
      h3 ОТСУТСТВИЕ НЕДОСТРОЕВ И ДОЛГОСТРОЕВ
      p
        | За время, прошедшее с момента основания компании, до логического завершения, с соблюдением установленных сроков строительства были доведены все объекты, не получено ни одной претензии от заказчиков.
  li.bullet
    .bullet-icon.bullet-icon-1
      i.fa.fa-thumbs-up(aria-hidden='true')

    .bullet-content
      h3 ГИБКИИ ПОДХОД К КАЖДОМУ КЛИЕНТУ
      p
        | предложение ему индивидуальных условий сотрудничества исходя из конкретной ситуации, специфики возводимого объекта и пр.
