.legio
  .cohors
    .centuria5
      img(src='/image/work1_1.jpg')
    .centuria7
      h4 Коксарайское водохранилище (перевозки, земляные, бетонные работы)
      p Дата начала проекта: 13.08.2008 г.
      p Дата завершения проекта: 24.09.2010 г.
  .cohors
    .centuria3
      img(src='/image/work1_2.jpg')
    .centuria3
      img(src='/image/work1_3.jpg')
    .centuria3
      img(src='/image/work1_4.jpg')
    .centuria3
      img(src='/image/work1_5.jpg')

.legio
  .cohors
    .centuria5
      img(src='/image/work2_1.png')
    .centuria7
      h4 Отделочные работы в медицинском диагностическом центре Алматинской области
      p Дата начала проекта: 15.07.2013 г.
      p Дата завершения проекта: 16.09.2013 г.
  .cohors
    .centuria4
      img(src='/image/work2_2.png')
    .centuria4
      img(src='/image/work2_3.png')
    .centuria4
      img(src='/image/work2_4.png')

.legio
  .cohors
    .centuria5
      img(src='/image/work3_1.png')
    .centuria7
      h4 Реконструкция здания
      p Дата начала проекта: 10.03.2011 г.
      p Дата завершения проекта: 13.09.2011 г.
  .cohors
    .centuria3
      img(src='/image/work3_2.png')
    .centuria3
      img(src='/image/work3_3.png')
    .centuria3
      img(src='/image/work3_4.png')
    .centuria3
      img(src='/image/work3_5.png')

.legio
  .cohors
    .centuria5
      img(src='/image/work4_1.jpg')
    .centuria7
      h4 Возведение 9 этажного жилого здания в ЮКО
      p Дата начала проекта: 01.09.13
      p Дата завершения проекта: 25.05.15
  .cohors
    .centuria4
      img(src='/image/work4_2.jpg')
    .centuria4
      img(src='/image/work4_3.jpg')
    .centuria4
      img(src='/image/work4_4.jpg')

.legio
  .cohors
    .centuria5
      img(src='/image/work5_1.jpg')
    .centuria7
      h4 Автомобильные дороги (устройство дорожного полотна) трасса «Западная Европа – Западный Китай» уч. 421-427
      p Дата начала проекта: 13.08.2011 г.
      p Дата завершения проекта: 24.09.2012 г.
  .cohors
    .centuria3
      img(src='/image/work5_2.jpg')
    .centuria3
      img(src='/image/work5_3.jpg')
    .centuria3
      img(src='/image/work5_4.jpg')
    .centuria3
      img(src='/image/work5_5.jpg')

.legio
  .cohors
    .centuria5
      img(src='/image/work6_1.png')
    .centuria7
      h4 Устройство навесного вентилируемого фасада  из керамогранита
      p Дата начала проекта: 04.08.2011 г.
      p Дата завершения проекта: 21.11.2011 г.
  .cohors
    .centuria4
      img(src='/image/work6_2.png')
    .centuria4
      img(src='/image/work6_3.png')
    .centuria4
      img(src='/image/work6_4.png')

.legio
  .cohors
    .centuria5
      img(src='/image/work7_1.png')
    .centuria7
      h4 Отделочные работы в медицинском учреждении
      p Дата начала проекта: 03.08.2011 г.
      p Дата завершения проекта: 06.02.2012 г.
  .cohors
    .centuria3
      img(src='/image/work7_2.png')
    .centuria3
      img(src='/image/work7_3.png')
    .centuria3
      img(src='/image/work7_4.png')
    .centuria3
      img(src='/image/work7_5.png')

.legio
  .cohors
    .centuria5
      img(src='/image/work8_1.png')
    .centuria7
      h4 Строительство фундаментов под промышленное здание 4 000 кв.м.
      p Дата начала проекта: 13.08.2013 г.
      p Дата завершения проекта: 24.09.2013 г.
  .cohors
    .centuria4
      img(src='/image/work8_2.png')
    .centuria4
      img(src='/image/work8_3.png')
    .centuria4
      img(src='/image/work8_4.png')

.legio
  .cohors
    .centuria5
      img(src='/image/work9_1.png')
    .centuria7
      h4 Инженерные системы
      p Слаботочные системы;
      p Автоматизация инженерных систем;
      p Системы водоснабжения и канализации;
      p Системы отопления и вентиляции.
  .cohors
    .centuria3
      img(src='/image/work9_2.png')
    .centuria3
      img(src='/image/work9_3.png')
    .centuria3
      img(src='/image/work9_4.png')
    .centuria3
      img(src='/image/work9_5.png')
